age.txt
keys.txt
*.key
.dots/

.claude/

.pi/agent/*
!.pi/agent/settings.json
!.pi/agent/keybindings.json
!.pi/agent/AGENTS.md
!.pi/agent/extensions/
!.pi/agent/agents/
!.pi/agent/prompts/
!.pi/agent/skills/
!.pi/agent/themes/
