[user]
	name = Paulo Curado
	email = phcurado@gmail.com
[core]
	editor = vim
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
