* {
  background-image: none;
  font-family: "0xProto Nerd Font", monospace;
}

window {
  background-color: rgba(0, 0, 0, 0.8);
}

button {
  color: #cdd6f4;
  background-color: #1e1e2e;
  border: 2px solid #313244;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
  border-radius: 10px;
  margin: 10px;
  transition: all 0.2s ease;
}

button:focus,
button:hover {
  background-color: #313244;
  border-color: #89b4fa;
  outline: none;
}

#lock {
  background-image: image(url("/usr/share/wlogout/icons/lock.png"));
}

#logout {
  background-image: image(url("/usr/share/wlogout/icons/logout.png"));
}

#suspend {
  background-image: image(url("/usr/share/wlogout/icons/suspend.png"));
}

#reboot {
  background-image: image(url("/usr/share/wlogout/icons/reboot.png"));
}

#shutdown {
  background-image: image(url("/usr/share/wlogout/icons/shutdown.png"));
}
